*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: sans-serif;
	list-style: none;
}
.header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 2px 10px 0px #CCC;

}
.headerLeft{
	width: 48%;
	margin-left: 2%;
	align-items: center;
	justify-content: space-between;
	display: flex;
}
.menu>ul{
	display: flex;
	gap: 30px;
}
.menu>ul>li a{
     font-size: 14px;
     font-weight: bold;
     color: black;
}
.headerRight{
	width: 43%;
	display: flex;
	margin-right: 2%;
	align-items: center;
	justify-content: space-between;
}

.headerRight form{
	width: 70%;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: flex;
}

.headerRight form button{
	width: 10%;
	background: transparent;
	border: none;
	
}
.headerRight form input{
	width: 95%;
	height: 40px;
	border: none;
}
.profile ul{
	display: flex;
	gap: 15px;

}
.profile ul li{
	display: flex;
	align-items: center;
	font-size: 14px;
     gap: 3px;
	flex-direction: column;
}
.banner{
	width: 100%;
	height: 25%;
	margin-top: 50px;

}
.banner img{
	width: 100%;
	height: 25%;
}
.brandSection{
	width: 100%;
	padding: 80px 0px;

}
.brandSection h2{
	padding-left: 30px;
	font-size: 30px;
}
.brandRow{
	width: 100%;
	display: flex;
	gap: 1%;
	margin-top: 50px;
}
.brandItems{
	width: 17%;
	box-shadow: 0px 0px 10px 2px #ccc;
}
.brandItems img{
	width: 100%;
}
.brandSection h3{
	padding-left: 30px;
	font-size: 30px;
}
.brandSection h4{
	padding-left: 30px;
	font-size: 30px;
}
.brandSection h5{
	padding-left: 30px;
	font-size: 30px;
}


